pkgbase = cvc5-git
	pkgdesc = cvc5 is a tool for determining the satisfiability of a first order formula modulo a first order theory (or a combination of such theories).
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/cvc5/cvc5
	arch = x86_64
	license = BSD 3-Clause
	makedepends = git
	makedepends = gcc
	makedepends = cmake
	makedepends = python
	makedepends = python-toml
	makedepends = jdk-openjdk
	depends = libedit
	depends = libbsd
	source = git+https://github.com/cvc5/cvc5.git#tag=cvc5-1.0.1
	md5sums = SKIP

pkgname = cvc5-git
